.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/*carosel*/
.main-body {
  margin: auto;
  width: 70%;
  padding: 10px;
}

.details::after {
  content: url(./assets/docs/chevron-small.svg);
  background-size: 10px 20px;
  display: inline-block;
  padding: 3%;
  width: 10px;
  height: 20px;
}

.bold {
  font-weight: 900;
}

.carousel-button-group {
  position: absolute;
  top: 22rem;
  right: 7rem;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.react-multi-carousel-list {
  height: 25rem;
}

.react-multiple-carousel__arrow {
  position: relative;
  margin-left: 15px;
}

.details {
  text-transform: uppercase;
  font-weight: bold;
  color: #326bb4;
}

@media only screen and (max-width: 768px) {
  .carousel-button-group {
    display: none;
  }
}
